---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { getImage, Image } from 'astro:assets';

interface Props {
  post: CollectionEntry<'posts'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { title, coverImage, description } = post.data;
const coverImageSrc =
  coverImage &&
  (await getImage({ src: coverImage, format: coverImage.format })).src;

const { Content } = await post.render();
---

<Layout
  title={title}
  image={coverImageSrc}>
  <article class="prose">
    <h1>{title}</h1>

    {
      coverImage && (
        <Image
          src={coverImage}
          alt=""
        />
      )
    }

    <p><em>{description}</em></p>

    <Content />
  </article>

  <script
    src="https://utteranc.es/client.js"
    repo="vorant94/vorant94.github.io"
    issue-term="og:title"
    label="comment"
    theme="github-light"
    crossorigin="anonymous"
    async
  ></script>
</Layout>
