---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { TITLE } from '../shared/intro-texts';
import Analytics from '../components/Analytics.astro';

interface Props {
  title?: string;
  image?: string | null;
}

const { title, image } = Astro.props;

const pageTitle = title ? `vorant94 | ${title}` : TITLE;

const ogTitle = title ?? TITLE;
const ogType = title ? 'article' : 'website';
const ogUrl = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL(image ?? '/favicon.ico', Astro.site);
---

<!doctype html>
<html
  lang="en"
  prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      property="og:title"
      content={ogTitle}
    />
    <meta
      property="og:type"
      content={ogType}
    />
    <meta
      property="og:url"
      content={ogUrl}
    />
    <meta
      property="og:image"
      content={ogImage}
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.ico"
    />
    <title>{pageTitle}</title>
  </head>
  <body
    class="bg-gray-50 flex flex-col min-h-[calc(100dvh)] mx-auto md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl">
    <Analytics />

    <Header />

    <main class="flex-1 p-4 flex flex-col">
      <slot />
    </main>

    <Footer />
  </body>
</html>
